# Python Practice Notebook
Hi I am Monalisha Borgohain, I am using this Lupyter Notebook to practice python concepts and make necessary notes.

Topics:

 - Introduction to Python
 - Data Types
 - Conditional Statement(if,elif,else)
 - Loops(for and while)
 - Python List and List operations
 - Functions

### data Type and Variables
1. write a calculator program to input two variables and output their sum, product, and quotient

In [3]:
# Define the function. The function can have any name. However, there are
# a few exceptions.
def calculate(a,b):
    print("sum :", a+b)
    print("Product:", a*b)
    print("quotient:", int(a/b))

# Take input from user.    
p = int(input("enter your first number:"))
q = int(input("enter your second number:"))

# calling the function
calculate(p,q)

enter your first number: 12
enter your second number: 54

sum : 66
Product: 648
quotient: 0

#### 2.swap two variables without using third variable

In [4]:
def swap(a,b):
    print("A, B before swaping:", a, ",", b)
    # swap the variables
    a, b = b, a
    print("A, B after swaping:", a,",", b)

# take user input
p = int(input("enter first number:"))
q = int(input("enter second number:"))

# call the function
swap(p, q)

enter first number: 13
enter second number: 24

A, B before swaping: 13 , 24
A, B after swaping: 24 , 13

#### 3. Print datatype of entered value

In [8]:
value = input("first number:")
print(type(value))

first number: 23

<class 'str'>

#### 4. print all even numbers between 1 to 30

In [ ]:
for i in range(1, 30):
    if(i%2==0):
        print(i)

#### 5. Print all odd numbers between 1 to 30

In [10]:
for i in range(1, 30):
    if (i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

#### 6. Print Prime Numbers between 1 to 100

In [15]:
print(2)
print(3)
print(5)
print(7)

for i in range(1,100):
    if i!=1:
        if (i%2!=0):
            if(i%3!=0):
                if(i%5!=0):
                    if(i%7!=0):
                        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#### 7. Print prime Numbers between 40 to 100

In [16]:
for i in range(40,100):
    if(i%2!=0):
        if(i%3!=0):
            if(i%5!=0):
                if(i%7!=0):
                    print(i)

41
43
47
53
59
61
67
71
73
79
83
89
97

#### 8. Print Sum of odd digits between 0 to 30

In [23]:
total = 0
for i in range(0,30):
    if (i%2!=0):
        total += i
print("sum of odd numbers between 0 and 30 is:", total)

sum of odd numbers between 0 and 30 is: 225

#### 9. Print multiplication of even numbers between 1 and 10
It is interesting to see why we can not take `total = 0` initially. Obviously! Starting digit can not be zero, otherwise all successive multiplication will be 0.

In [19]:
total = 1
for i in range(1,10):
    if (i%2==0):
        total *= i
print(total)

384

#### 10. Print multiplication of table 2

In [13]:
for i in range(1,11):
    print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#### 11. Print Multiplication table 3

In [14]:
for i in range(1,11):
    print(f"3 * {i} = {3*i}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

#### 12. Print Multiplication table 4
In the following multiplication table generation, we will also explore three ways to format prints.
 - Conventional `Print()`
 - `.format()` method
 - `f string` method

In [17]:
# Using conventional print method
for i in range(1,11):
    print("4 * ", i, "=", 4*i)

4 *  1 = 4
4 *  2 = 8
4 *  3 = 12
4 *  4 = 16
4 *  5 = 20
4 *  6 = 24
4 *  7 = 28
4 *  8 = 32
4 *  9 = 36
4 *  10 = 40

In [16]:
# Using .format() method.
for i in range(1,11):
    print("4 * {} = {}".format(i, i*4))

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [15]:
# Using F String.
for i in range(1,11):
    print(f"4 * {i} = {4*i}")

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

#### 13. Find Sum of digits of a number
Take user input. It should be an Integer. Say, the user entered `567` then the output should be `5+6+7` which is equal to 18.

In [16]:
num = str(input("enter any number: ")) 
total = 0
for i in num:
    total += int(i)

print(total)

enter any number:  456

15

### Practice for loop basics
For loop syntax:

`for i in range(a, b, c):`

Here, 
- a = starting number
- b = ending number ( Loop goes to b-1 )
- c = skip count or step

#### Use cases:
 - Iterating over an object directly. `for i in obj:`
 - Itertaing over a range. `for i in range(a, b, c)`
   - `for i in range(a)` Start from `0`, goes up to `a-1`, `step = 1`
   - `for i in range(a,b)` Start from `a`, goes up to `b-1`, `step = 1`
   - `for i in range(a,b,c)` Start from `a`, goes up to `b-1`, `step = c`

In [25]:
# For loop iterating over an object
a = ["abc", 1, 45, 4.6, "pqr"]
for i in a:
    print(i, " | ", type(i))

abc  |  <class 'str'>
1  |  <class 'int'>
45  |  <class 'int'>
4.6  |  <class 'float'>
pqr  |  <class 'str'>

In [29]:
# Iterating over a range starting from 0, with step count = 1
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
# For loop iterating over a range, starting from specific number, with step count = 1
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [5]:
# For loop for a range with specific skip count. Here skip count = 3
for i in range(1, 30, 3):
    print(i)

1
4
7
10
13
16
19
22
25
28

In [35]:
num = str(input("enter any number: ")) 
total = 0
for i in num:
    total += int(i)

print(total)

enter a number: 456

Sum of digits of a number: 456

In [4]:
def addDigits(num):
    total = 0
    for i in num:
        total += int(i)
    print("Sum of digits: ", total)

abc = str(input("enter any number:"))
# Call the function
addDigits(abc)

enter any number: 123

Sum of digits:  6