### Practice notebook 3
Here i will practice conditionals.
1. Check if entered number is positive, negative, or zero.

In [3]:
num = int(input(" enter a number: "))
if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

 enter a number:  0

The number is zero

In [11]:
def checknum(p):
    if p > 0:
        print("The number is positive")
    elif p < 0:
        print("The number is negative")
    else:
        print("The number is zero")

x = int(input(" enter a number :"))
# Call the function
checknum(x)

 enter a number : 12

The number is positive

### 2. Grade calculator
Enter a number from 0 to 100, and grade as per range as A,B,C,D,E.
 - A (80,100]
 - B(60,80]
 - C(40,60]
 - D(20,40]
 - E[0,20]

In [13]:
def grade(h):
    if 80 < h <= 100:
        print("You have received grade A")
    elif 60 < h <= 80:
        print("You have received grade B")
    elif 40 < h <= 60:
        print("You have received grade C")
    elif 20 < h <= 40:
        print("You have received grade D")
    else:
        print("You have received grade E")

# take user input
a = int(input("enter your marks :"))
# Call the function
grade(a)

enter your marks : 78

You have received grade B

### 3. Leap Year checker
1. Check if the year is leap year or not

In [10]:
def leap(year):
 
      if year % 4 == 0:
         print(" This is a leap year")
      else:
         print(" This is not a leap year")
# Take user input
a = int(input("enter the year:"))
# call the function
leap(a)

enter the year: 2005

 This is not a leap year

#### 4. Find maximum from a list without using max()

In [4]:
lista = [1, 6, 9, 6, 5, 7]
# Using pre-defined function
max(lista)

9

In [21]:
#if we have to find the maximum number of y, then follow the following steps
y = [1,2,6,3]

# We assuming here the maximum number as`Maxivalue` is the firt number
# you can also write as- Maxivalue = 1
Maxivalue = y[0]
for i in y:
    if i > Maxivalue:
        Maxivalue = i

# in print we do not write print('The maximum number is:' i)
# because i is last value in y

print(" The maximum number is :", Maxivalue)

 The maximum number is : 6

In [22]:
p = (1,2,3,9,4,5)

Maximum = 1
for i in p:
    if i > Maximum:
        Maximum = i

print('The maximum number is :', Maximum)

The maximum number is : 9

#### 5. Find Minimum Number( using pre-defined and without pre-defined function)

In [23]:
# without using pre-defined function
a =(9,4,2,7)

Minimum = 9
for i in a:
    if i < Minimum:
        Minimum = i

print("The minimun number is :", Minimum)

The minimun number is : 2

In [24]:
#using pre-defined function
a =(7,8,1,4)
min(a)

1

#### 6. Bubble sort (list)

In [29]:
# 1. Write the following numbers in ascending order
y = [8,2,6,1,5,3,9,7]
a = len(y)
for i in range(a):
    for j in range(0, a-i-1):
        if y[j] > y[j+1]:
# swap the variables
            y[j], y[j+1] = y[j+1], y[j]

print("Sorted list in ascending order:", y)

Sorted list in ascending order: [1, 2, 3, 5, 6, 7, 8, 9]

In [37]:
# 2. Write the following number in a descending order
q =[9,5,2,6,4,1]
s =len(q)
for i in range(s):
    for j in range(0, s-i-1):
        if q[j] < q[j+1]:
            q[j],q[j+1] = q[j+1], q[j]
print("descending order:", q)

descending order: [9, 6, 5, 4, 2, 1]

In [40]:
# 3. Write the following numberes in descending order
p =[11,2,7,8,25,17,6,109]
r = len(p)
for i in range(r):
    for j in range(0, r-i-1):
        if p[j] < p[j+1]:
            p[j], p[j+1] = p[j+1], p[j]

print("the descending form :", p)

the descending form : [109, 25, 17, 11, 8, 7, 6, 2]

#### 4. Count occurrences

In [62]:
#. 1
a = (1,1,1,1,1,1,1,1,1)
# here we assume `counted` as integer
counted = a.count(1)
print("the number 5 appeared", counted, "times.")

the number 5 appeared 9 times.

In [63]:
# 2.
y = [3,3,3,3,3,3,3,3,3,3,3,3,3,3]

u = y.count(3)
print("The number three appeared", u, "times.")

The number three appeared 14 times.

In [67]:
# 3.
r = (1,1,1,1,1,1,5,5,5,5,5,5,5,5)
y = r.count(1)
s = r.count(5)
print("The number one appeares", y, "times.")
print("The number five appeares", s, "times.")

The number one appeares 6 times.
The number five appeares 8 times.

In [68]:
# 4.
y =[1,7,4,1,5,3,1,1,3,9,7,1,1]
r = y.count(1)
s = y.count(3)
print("the number one appears", r, "times")
print("The number three appears", s, "times")

the number one appears 6 times
The number three appears 2 times