## 1. Data types and Variables

In [1]:
#1.1 write your name.
name = ("Monalisha")
print("Hi my name is", name, "Borgohain.")

Hi my name is Monalisha Borgohain.

In [7]:
# 1.2 Write your age.
age = "26"
print("I am", age, "years old.")

I am 26 years old.

In [6]:
# 1.3 Write your height.
height = 51.534 
print(" I am", height,"meters.")

 I am 51.534 meters.

In [11]:
# 1.4 Check you are a student or not
student = False # True
if student:
    print("You are a student.")
else:
    print("You are not a student.")

You are not a student.

In [16]:
# 1.4.1 Check you are a student or not(using user input)
answer = input("Are you a student? : (yes/no)")
student = answer.lower()== "yes"
if student:
    print( "You are a student.")
else:
    print("You are not a student.")

Are you a student? : (yes/no) yes

You are a student.

## 2. Conditional Statements

In [19]:
# 2.1 Check even numbres (using user-input)
# using user input
number = int(input(" Enter your number:"))
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is not even.")

 Enter your number: 9

The number is not even.

In [22]:
# 2.2 Check odd numbers (using user-input)
# using user input
number = int(input("Enter your number;"))
if number % 2!= 0:
    print( "The number is odd.")
else:
    print("The number is not odd.")

Enter your number; 12

The number is not odd.

In [26]:
# 2.3 Check rational numbers (using user-input)
number = float(input(" Enter your number:"))

# isinstance() is a built-in function used to check the type of a variable or value.
if isinstance(number, (int, float)):
    print("The number is rational.")
else:
    print("The number is not rational.")

 Enter your number: 9.77

The number is rational.

In [9]:
# 2.4 Check age  (using user-input)
number = int(input(" Enter your age:"))
if number >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

 Enter your age: 18

You are eligible to vote.

In [30]:
# 2.5 Check Leap year  (using user-input)
year = int(input("Enter the year:"))
if year % 4== 0:
    print(" This is a leap year.")
else:
    print("This is not a leap year")

Enter the year: 2004

 This is a leap year.

In [36]:
# 2.6 Check grade
marks = float(input("Enter your marks:"))
if marks >= 80:
    print("You have achieved grade A+.")
elif 80 > marks >= 60:
    print("You have achieved grade A.")
elif 60 > marks >= 40:
    print(" You have achieved grade B.")
else:
    print("You have achieved grade C")

Enter your marks: 45

 You have achieved grade B.

In [48]:
# 2.7 Check divisibility

#"Divisible by 3 and 5"
number = int(input("Enter your number:"))
if number % 3== 0 and number % 5 == 0:
    print("The number is divisible by 3 and 5.")
elif number % 3 == 0:
    print("The number is only divisible by 3.")
elif number % 5 == 0:
    print("The number is only divisible by 5.")
else:
    print("Not divisible by 3 and 5.")

Enter your number: 18

The number is only divisible by 3.

In [50]:
#"Only divisible by 3"

number = int(input("Enter your number:"))
if number % 3 == 0:
    print("The number is divisible by 3.")
else:
    print("The number is not divisible by 3.")

Enter your number: 19

The number is not divisible by 3.

In [52]:
#"Only divisible by 5"
number = int(input("Enter your number:"))
if number % 5 == 0:
    print("The number is divisible by 5")
else:
    print('The number is not divisible by 5.')

Enter your number: 100

The number is divisible by 5

In [53]:
#"Not divisible by 3 or 5"
number = int(input("Enter your number"))
if number % 3!= 0 and number % 5 != 0:
    print("The number is not divisible by 3 and 5.")
else:
    print("The number is divisible by 3 and 5.")

Enter your number 15

The number is divisible by 3 and 5.

In [60]:
# Find maximum between two numbers (using user-input)
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

if a > b:
    print("The maximum number is:", a)
else:
    print("The maximum number is:", b)

Enter first number: 13
Enter second number: 8

The maximum number is: 13

## 3. List Practice

In [54]:
# 3.1 Find the maximum number
number = [3,8,6,17,3,1]
A = max(number)
print("The maximum number is:", A)

The maximum number is: 17

In [62]:
# 3.2 Find the minimum number
numbers =[7,9,45,2,8]
A = min(numbers)
print("The minimum number is:", a)

The minimum number is: 13

In [64]:
# 3.3 Find the last element
numbers = [5,1,4,2,7,12,11]

# to find last element from a list use : variable[-1]
A = numbers[-1]
print("The last number is:", A)

The last number is: 11

In [5]:
# 3.4 Ascending order
#numbers =[7,8,3,11,15,5]
# A = sorted(numbers)
# print(A)

numbers =[7,8,3,11,15,5]
numbers.sort()
print(numbers)

[3, 5, 7, 8, 11, 15]

In [7]:
# 3.5 Descending order

#numbers =[4,2,6,11,13,7]
#numbers.sort(reverse = True)
#print(numbers)

numbers = [4,2,6,11,13,7]
A = sorted(numbers, reverse = True)
print(A)

[13, 11, 7, 6, 4, 2]

In [8]:
# 3.6 Add number 12 in a list

numbers =[3,1,5,8,11,5]
numbers.append(12)
print(numbers)

[3, 1, 5, 8, 11, 5, 12]

## 4. Lambda Functions

In [2]:
# 4.1 Add numbers 5 and 3 
add = lambda a, b: a + b
print(add(5, 3))

8

In [1]:
# 4.2 Multiply 12 and 7 
multiply = lambda a,b: a * b
print(multiply(12, 7))

84

In [4]:
# 4.3 Find square of 56 
square = lambda a:a * a
print(square(56))

3136

## 5. Recursive Function

In [12]:
# 5.1 Find factorial of 8
def factorial(n):
    if n == 1:
        return 1   # base case
    return n * factorial(n - 1)   # recursive call
print(factorial(8))

40320

In [13]:
# 5.2 Find sum of first 10 natural number
def natural_sum(n):
    if n == 1:
        return 1
    else:
        return n + natural_sum (n- 1)
print(natural_sum(10))

55

In [15]:
# 5.3 Print numbers from 9 to 1
def print_numbers(n):
    if n == 0:
        return
    print(n)             # print before recursive call
    print_numbers(n - 1)-  # recursive call
print_numbers(9)

9
8
7
6
5
4
3
2
1

In [16]:
# 5.4 Print numbers from 1 to 7
def print_numbers(n):
    if n == 0:
        return
    print_numbers(n - 1)  # recursive call first
    print(n)              # then print
print_numbers(7)

1
2
3
4
5
6
7

In [6]:
def donothing(n):
    if n == 0:
       return
    print(n)
donothing(8)

8

## 6. User-Defined Functions

In [2]:
# 6.1 Functions with no Prameter and no Return value
def greet():
    print("Hi everyone! Good morning.")
greet()

Hi everyone! Good morning.

In [3]:
#. 6.2 Functions with Parameter but no Return value
def greet_people(name):
    print("Hi dear", name)
greet_people("Alex")

Hi dear Alex

In [7]:
# 6.3 Functions with Parameter and Return value
def add_num(a, b):
    return a + b
result= add_num(44, 5)
print("The sum is:", result)

The sum is: 49

In [10]:
# 6.4 Functions with no Parameter and Return value
def wel_come():
    return " Hi! Welcome to the Python Learning."
message = wel_come()
print(message)

 Hi! Welcome to the Python Learning.

## 7. File Handling

In [4]:
# 7.1 Reading a file
# files is a folder name
# inside the folder data.txt is a file
# to read what inside the file we can follow the code below

with open("files/data.txt", "r")as file:
    variable = file.read()
    print(variable)

Hi,I am John.I live in Assam.I am 25 years old.

In [14]:
# 7.2 Writing to a file
userinput = input()
with open("files/data.txt", "w") as file:
    file.write(userinput)
    # here you can write to close the file
    # file.close()

 hi everyone.Good morning. I am learning python basics.

In [13]:
# 7.3 Use append instead of overwriting
with open("files/data.txt", "a") as file:
    file.write("\nNew line added. I am not feeling very good.")
    file.close()

In [15]:
# 7.4 Checking if files exist
import os

if os.path.exists("files/data.txt"):
    print("File exists!")
else:
    print("File not found.")

File exists!

In [1]:
# 7.5 Copy text from one file to another
# with open("source.txt", "r") as src:
#    data = src.read()
# with open("destination.txt", "w")as dest:
#   dest.write(data)

## 8. Error Practice

In [2]:
# 8.1 Zero Division Error
try:
    x = 10/0
except:
    print("You cannot devide by zero.")

You cannot devide by zero

In [3]:
# 8.2 Value Error
try:
    number = int("abc")
except:
    print("Invalid input! not a number.")

Invalid input! not a number.

In [4]:
# 8.3 TypeError
try:
    result = "6" + 4
except:
    print("you cannot add string and number!")

you cannot add string and number!

In [5]:
# 8.4 File not found error
try:
    with open("miising file.txt", "r")as file:
        data = file.read
except:
    print("File not found")

File not found

In [6]:
# 8.5 Index error
try:
    my_list = [2,3,4,7]
    print(my_list[5])
except:
    print("List index out of range!")

List index out of range!

In [7]:
# 8.6 Key Error
try:
    my_dict = {'name': 'Zimba'}
    print(my_dict["age"])
except:
    print("Key does not exist!")

Key does not exist!

In [8]:
# 8.7 Genereic Error Handling
try:
    something_wrong()
except:
    print("An error occurred!")

An error occurred!

## 9. Built in Modules

In [3]:
# 9.1 math module
import math
print(math.sqrt(25))     
print(math.pi)

5.0
3.141592653589793

In [6]:
# 9.2 ranodom Module
import random
print(random.randint(1, 9))         # Random number between 1 and 10
print(random.choice(['apple', 'banana', 'cherry']))  # random item

8
banana

In [7]:
# 9.3 datetime module
import datetime
now = datetime.datetime.now()
print("Current time:", now)

Current time: 2025-08-01 21:59:06.362642

In [8]:
# 9.4 os module
import os
print(os.getcwd())       # Current working directory
os.mkdir("new_folder")   # Make a new folder

/home/monalisha/Desktop/coding/learn-python

In [9]:
# 9.5 json module
import json
data = {"name": "Monalisha", "age": 22}
json_str = json.dumps(data)
print(json_str)

{"name": "Monalisha", "age": 22}

In [11]:
# 9.6 External module (install by myself)
# pip install requests
# python
# import requests

#response = requests.get('https://example.com')
#print(response.status_code)

## 10. Tuples (Built in Data Type)

In [1]:
# Using parentheses
my_tuple = (1, 2, 3)

# Without parentheses (not recommended, but valid)
another_tuple = 4, 5, 6

# Tuple with mixed data types
mixed = ("apple", 3.14, True)

# Single element tuple (note the comma!)
single = (5,)  # This is a tuple
not_a_tuple = (5)  # This is just an int

In [9]:
t = (10, 20, 30, 40)

print(t[0])  # 10
print(t[-1]) # 40

10
40

In [11]:
t1 = (1, 2)
t2 = (3, 4)

# Concatenation
print(t1 + t2)  # (1, 2, 3, 4)

# Repetition
print(t2 * 2)   # (1, 2, 1, 2)

# Slicing
print(t2[0:2])  # (3, 4)

(1, 2, 3, 4)
(3, 4, 3, 4)
(3, 4)

In [16]:
t = (1, 2, 2, 2, 3)

print(t.count(2))   # 2 (counts how many times 2 appears)
print(t.index(3))   # 3 (returns index of first 3)

3
4

## 11. Operators

In [2]:
#  Arithmetic operators
# 11.1 Exponentiation (**) → Power ( 5 to the power 2)
A = 5
B = 2
result = A**B
print(result)

25

In [3]:
# 11.2  Modulus (%) → Remainder after division
A = 6
B = 4
result = A % B
print(result)

2

In [4]:
# 11.3 Floor Division (//) → Removes decimal part
A = 5
B = 2
result = A // B
print(result)

2

In [5]:
# 11.4  Division (/) → Always returns a float
X = 7
Y = 3
result = X / Y
print(result)

2.3333333333333335

In [6]:
# 11.5  Multiplication (*)
a = 6
b = 9
X = a * b
print(X)

54

In [7]:
# 11.6 Subtraction (-)
a = 41
b = 34
X = a - b
print(X)

7

In [8]:
# 11.7 Addition (+)
a = 45
b = 34
S = a + b
print(a + b)

79

In [9]:
# Comparison (Relational) Operators
# 11.1  Equal to (==)
x = 6
y = 5
print(x == y)

False

In [10]:
# 11.2 Not equal to (!=)
x = 7
y = 3
print(x != y)   # True  (because 5 is not equal to 3)

True

In [11]:
# 11.3 Greater than (>)
x = 5
y = 3
print(x > y)    # True  (because 5 is greater than 3)

True

In [13]:
# 11.4 Less than (<)
x = 8
y = 3
print(x < y)    # False (because 5 is not less than 3)

False

In [14]:
# 11.5 Greater than or equal to (>=)
x = 5
y = 5
print(x >= y)   # True  (because 5 is equal to 5)

True

In [15]:
# 11.6 Less than or equal to (<=)
x = 3
y = 5
print(x <= y)   # True  (because 3 is less than 5)

True

In [2]:
# logical operators
# 11.1 and → True if both conditions are True
x = 5
y = 3
print(x > 2 and y < 5)   # True  (both conditions are True)
print(x > 2 and y > 5)   # False (second condition is False)

True
False

In [3]:
# 11.2 or → True if at least one condition is True
x = 5
y = 3
print(x > 2 or y > 5)    # True  (first condition is True)
print(x < 2 or y > 5)    # False (both conditions are False)

True
False

In [4]:
# 11.3 not → Reverses the result (True → False, False → True)
x = 5
print(not(x > 2))        # False (because x > 2 is True, but 'not' reverses it)
print(not(x < 2))        # True  (because x < 2 is False, reversed to True)

False
True

In [11]:
# Bitwise Operators
a = 5   # binary: 0101
b = 3   # binary: 0011

In [9]:
# 11.1 AND (&)
a = 5
b = 3
print(a & b)   # 1  (binary: 0001)

1

In [10]:
# 11.2 OR (|)
print(a | b)   # 7  (binary: 0111)

7

In [12]:
# 11.3 XOR (^)
print(a ^ b)   # 6  (binary: 0110)

6

In [13]:
# 11.4 NOT (~)
print(~a)      # -6

-6

In [14]:
# 11.5 Left Shift (<<)
print(a << 1)  # 10 (binary: 1010)
print(a << 2)  # 20 (binary: 10100)

10
20

In [15]:
# 11.6 Right Shift (>>)
print(a >> 1)  # 2  (binary: 0010)
print(a >> 2)  # 1  (binary: 0001)

2
1

In [16]:
# Membership operators
# 11.1 in → Returns True if the value is found in the sequence
# Example with a list
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)   # True
print("grape" in fruits)   # False

# Example with a string
text = "Hello Python"
print("Python" in text)    # True
print("Java" in text)      # False

True
False
True
False

In [17]:
# 11.2 not in → Returns True if the value is not found in the sequence
fruits = ["apple", "banana", "cherry"]
print("mango" not in fruits)   # True
print("banana" not in fruits)  # False

text = "Hello Python"
print("C++" not in text)       # True
print("Python" not in text)    # False

True
False
True
False

In [18]:
# Identity Operators
# 11.1 is → True if both variables point to the same object
x = [1, 2, 3]
y = x        # y refers to the same list as x
z = [1, 2, 3]

print(x is y)   # True  (same memory location)
print(x is z)   # False (different objects, even though values are equal)

True
False

In [19]:
# 11.2 is not → True if both variables point to different objects
x = [1, 2, 3]
y = [1, 2, 3]

print(x is not y)   # True  (different objects)
print(x is not x)   # False (same object)

True
False

In [20]:
##     
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)  # True  (same values)
print(x is y)  # False (different objects)

True
False